mat-card {
  width: 30%;
  border: #003300;
  box-shadow: black 2px 2px 15px;
}


mat-card-header {
  height: 160px!important;
}

mat-card-title p img {
  width: 380px;
  height: 180px;
  text-align: center;
}

mat-card-content {
  padding: 10%;
}

mat-card-actions {
  child-align: middle !important;
}

mat-card-actions button:nth-child(2) {
  margin-left: 10px;
}

button {
  color: white !important;
}

button[btn-a] {
  background: #2B775F !important;

}

button[btn-b] {
  background: #2B8581 !important;
}

