/*mat-card {*/
/*  width: 30%;*/
/*  border: #003300;*/
/*  box-shadow: black 2px 2px 15px;*/
/*}*/


/*mat-card-header {*/
/*  height: 160px!important;*/
/*}*/

/*mat-card-title p img {*/
/*  width: 380px;*/
/*  height: 180px;*/
/*  text-align: center;*/
/*}*/

/*mat-card-content {*/
/*  padding: 10%;*/
/*}*/

/*mat-card-actions {*/
/*  child-align: middle !important;*/
/*}*/

/*mat-card-actions button:nth-child(2) {*/
/*  margin-left: 10px;*/
/*}*/

/*button {*/
/*  color: white !important;*/
/*}*/

/*button[btn-a] {*/
/*  background: #2B775F !important;*/

/*}*/

/*button[btn-b] {*/
/*  background: #2B8581 !important;*/
/*}*/




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Inika-Regular';
  src: url('/assets/fonts/Inika-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: RobotoCondensed;
  src: url('/assets/fonts/RobotoCondensed-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url('/assets/fonts/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  height: 100%;
  font-family: Arial, sans-serif;
}

/*body {*/
/*  background: url('assets/images/login-bg.jpg') no-repeat center center/cover;*/
/*  position: relative;*/
/*}*/

.login-container-wrp {
  background: url("/assets/images/login-bg.jpg") no-repeat center center/cover;
  position: relative;
  height: 100%;
}

/* Background overlay */
.login-container-wrp::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.login-container {
  position: relative;
  z-index: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.login-box {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  border-radius: 15px;
  gap: 15px; /* 15px gap between branding and form */
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  overflow: hidden;
  max-width: 1200px;
  width: 90%;
}

.branding {
  width: 60%;
  background-color: rgba(255, 255, 255, 0.8); /* 80% transparency */
  padding: 50px 50px 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: solid 2px #ffffff;
  border-radius: 15px 0px 0px 15px;
}

.branding h1 {
  font-size: 66px;
  font-family: 'Inika-Regular';
  color: #C9CD03;
  margin-bottom: 20px;
}

.branding p {
  position: relative;
  font-size: 32px;
  color: #666;
  line-height: 1.4;
  font-family: RobotoCondensed;
  font-weight: bold;
}

.branding p::after{
  position: absolute;
  bottom: -10px;
  left: 0px;
  content: "";
  width: 100px;
  background-color: #C9CD03;
  height: 3px;
}

.login-form {
  width: 40%;
  background-color: rgba(255, 255, 255, 0.4); /* 40% transparency */
  padding: 50px 50px 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid 2px #ffffff;
  border-radius: 0px 15px 15px 0px;
}

.login-form h2 {
  font-family: Roboto;
  font-weight: initial;
  font-size: 32px;
  margin-bottom: 40px;
  color: #EDEDED;
  text-align: center;
  position: relative;
}

.login-form h2::after{
  position: absolute;
  bottom: -13px;
  left: 50%;
  transform: translate(-50%, 0%);
  content: "";
  width: 80px;
  background-color: #EDEDED;
  height: 3px;
}

.login-form label {
  margin-top: 15px;
  margin-bottom: 8px;
  font-size: 14px;
  color: #414141;
}

.login-form input {
  padding: 12px;
  /* margin-bottom: 15px; */
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 100%;
}

.login-form button {
  padding: 12px;
  width: 100%;
  font-size: 14px;
  margin-top: 25px;
  background-color: #C9CD03;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #dde003;;
}

.login-form a {
  margin-top: 10px;
  font-size: 14px;
  color: #007BFF;
  text-decoration: none;
}

.login-form a:hover {
  text-decoration: underline;
}

@media (max-width: 1120px) {

  .branding, .login-form {
    width: 100%;
    padding: 30px;
  }

  .branding h1 {
    font-size: 48px;
  }

  .branding p {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .login-box {
    flex-direction: column;
  }

  .branding, .login-form {
    width: 100%;
    padding: 20px;
    border-radius: 15px;
  }

  .branding h1 {
    font-size: 32px;
  }

  .branding p {
    font-size: 18px;
  }

}

